@using DotNetLiguria.Web.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Web Fonts -->
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="~/content/Unify/plugins/animate.css">
<link rel="stylesheet" href="~/content/Unify/plugins/line-icons/line-icons.css">
<link rel="stylesheet" href="~/content/Unify/plugins/font-awesome/css/font-awesome.min.css">

<!-- CSS Page Style -->
<link rel="stylesheet" href="~/Content/Unify/css/pages/page_log_reg_v2.css">

<!-- CSS Customization -->
<link rel="stylesheet" href="~/content/Unify/css/custom.css">

<div class="container">

    <div class="reg-block">

        @*<div class="reg-block-header">
            <h3>Use another service to log in.</h3>
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </div>*@

        <div class="reg-block-header">
            <h2>Login to your account</h2>
        </div>

        @*<section id="loginForm">*@
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "reg-page", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row margin-bottom-20">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                </div>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div class="row margin-bottom-20">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                </div>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                <div class="input-group checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <input type="submit" value="Log in" class="btn btn-u btn-block" />
                </div>
            </div>
            <p>
                @Html.ActionLink("Register as a new user", "Register")
            </p>
            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
        }
        @*</section>*@
    </div>
</div>




<!-- JS Global Compulsory -->
<script type="text/javascript" src="~/content/Unify/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="~/content/Unify/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="~/content/Unify/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="~/content/Unify/plugins/back-to-top.js"></script>
<script type="text/javascript" src="~/content/Unify/plugins/smoothScroll.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="~/content/Unify/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="~/content/Unify/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
