@model DotNetLiguria.Web.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">Account</h1>
        <ul class="pull-right breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li class="active">Create a new Account</li>
        </ul>
    </div><!--/container-->
</div>

<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "reg-page", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="reg-header">
                    <h2>Crea un nuovo account</h2>
                    <p>Already Signed Up? Click @Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to login your account.</p>
                </div>

                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="row margin-bottom-20">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control margin-bottom-20", placeholder = "Email" })
                        </div>
                    </div>
                </div>

                <div class="row margin-bottom-20">
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control margin-bottom-20", placeholder = "Password" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control margin-bottom-20", placeholder = "Conferma Password" })
                        </div>
                    </div>
                </div>

                @*<div class="row margin-bottom-20">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-link"></i></span>
                            <input id="ProfileImage" type="text" name="ProfileImage" class="form-control margin-bottom-20" placeholder="Profile Image Url" />
                        </div>
                    </div>
                </div>*@

                <hr>

                <div class="row">
                    <div class="col-lg-6 text-right">
                        <button class="btn btn-u" type="submit">Registrati</button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
