@model DotNetLiguria.Models.SliderObjBase


<div class="form-group">
    <textarea cols="30" rows="10" id="LayerTransitions" name="LayerTransitions" class="form-control">@Model.LayerTransitions</textarea><br />
</div>


@*<div class="row">
        <dic class="col-lg-6">
            <div class="form-group">
                <label for="delayin">Delayin ms</label>
                <input type="number" id="delayin" name="delayin" class="form-control" value="@Model.delayin" required /><br />
            </div>
        </dic>
        <dic class="col-lg-6">
            <div class="form-group">
                <label for="showuntil">Showuntil ms</label>
                <input type="number" id="showuntil" name="showuntil" class="form-control" value="@Model.showuntil" required /><br />
            </div>
        </dic>
    </div>
    <div class="row">
        <dic class="col-lg-6">
            <div class="form-group">
                <label for="durationin">Durationin ms</label>
                <input type="number" id="durationin" name="durationin" class="form-control" value="@Model.durationin" required /><br />
            </div>
        </dic>
        <dic class="col-lg-6">
            <div class="form-group">
                <label for="durationout">Durationout ms</label>
                <input type="number" id="durationout" name="durationout" class="form-control" value="@Model.durationout" required /><br />
            </div>
        </dic>
    </div>
    <div class="row">
        <dic class="col-lg-6">
            <div class="form-group">
                <label for="fadein">Fadein</label>
                <input type="checkbox" id="fadein" name="fadein" class="form-control" value="@Model.fadein" /><br />
            </div>
        </dic>
        <dic class="col-lg-6">
            <div class="form-group">
                <label for="fadeout">Fadeout</label>
                <input type="checkbox" id="fadeout" name="fadeout" class="form-control" value="@Model.fadeout" /><br />
            </div>
        </dic>
    </div>
    <div class="row">
        <dic class="col-lg-6">
            <div class="form-group">
                <label for="rotatein">Rotatein</label>
                <input type="number" id="rotatein" name="rotatein" class="form-control" value="@Model.rotatein" required /><br />
            </div>
        </dic>
        <dic class="col-lg-6">
            <div class="form-group">
                <label for="rotateout">Rotateout</label>
                <input type="number" id="rotateout" name="rotateout" class="form-control" value="@Model.rotateout" required /><br />
            </div>
        </dic>
    </div>*@


