@model DotNetLiguria.Models.OffertaLavoro

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>

<!--=== Content Part ===-->

@Html.ActionLink("Back to List", "OfferteLavoro")

<hr />
<!-- Input Groups -->
<div class="panel-body">
    <form method="post" action="/dashboard/OffertaLavoroUpdate">

        @Html.HiddenFor(model => model.OffertaLavoroId)

        <div class="form-group">
            <label for="Title">Titolo</label>
            <input type="text" id="Title" name="Title" class="form-control" value="@Model.Title" required>
        </div>

        <div class="form-group">
            <label for="Description">Descrizione breve del lavoro</label>
            <textarea cols="50" rows="5" type="t" id="Description" name="Description" class="form-control" required>@Model.Description</textarea>
        </div>

        <div class="form-group">
            <label for="Description">Azienda</label>
            <input type="text" id="Azienda" name="Azienda" class="form-control" value="@Model.Azienda" required>
        </div>

        <div class="form-group">
            <label for="Description">Luogo di lavoro</label>
            <input type="text" id="Luogo" name="Luogo" class="form-control" value="@Model.Luogo" required>
        </div>

        <div class="form-group">
            <label for="Link">Link di riferimento</label>
            <input type="text" id="Link" name="Link" class="form-control" value="@Model.Link" required>
        </div>

        <div class="form-group">
            <label for="Logo">Url di un logo o immagine relativa all'annuncio.</label>
            <input type="text" id="Logo" name="Logo" class="form-control" value="@Model.Logo" required>
        </div>

        <br />

        <div class="form-group">
            @Html.TextAreaFor(x => x.BlogHtml, new { @name = "editor", @class = "ckeditor", @id = "editor1" })
        </div>

        <br />
        <hr />

        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-success" />
        </div>

    </form>
</div>



<script type="text/javascript">
    CKEDITOR.replace('editor1', {
        filebrowserImageBrowseUrl: '/OfferteLavoro/uploadPartial',
        filebrowserImageUploadUrl: '/OfferteLavoro/uploadnow'
    });

    function updateValue(id, value) {
        // this gets called from the popup window and updates the field with a new value
        var jqueryObjectByClass = $(".cke_dialog_ui_input_text")[1];
        jqueryObjectByClass.value = value;
    }
</script>
