@model DotNetLiguria.ViewModels.WorkshopTrackViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<link href="~/Content/plugins/select2/4.0.0-rc.2/css/select2.min.css" rel="stylesheet" />
<script src="~/Content/plugins/select2/4.0.0-rc.2/js/select2.min.js"></script>

<br />

<!-- Input Groups -->
<div class="panel panel-red margin-bottom-40">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="icon-plus"></i> Edit Track</h3>
    </div>
    <div class="panel-body">
        <form method="post" action="/Dashboard/UpdateTrack">

            @Html.HiddenFor(x => x.Track.WorkshopTrackId)
            @Html.HiddenFor(x => x.Track.WorkshopId)

            <div class="form-group">
                <label for="Title">Title</label>
                <input type="text" id="Track.Title" name="Track.Title" class="form-control" value="@Model.Track.Title">
            </div>

            <div class="form-group">
                <label for="StartTime"> StartTime </label>
                <input type="datetime" id="Track.StartTime" name="Track.StartTime" class="form-control" value="@Model.Track.StartTime">
            </div>

            <div class="form-group">
                <label for="EndTime"> EndTime</label>
                <input type="datetime" id="Track.EndTime" name="Track.EndTime" class="form-control" value="@Model.Track.EndTime">
            </div>

            <div class="form-group">
                <label for="Level"> Level</label>
                <input type="number" id="Track.Level" name="Track.Level" class="form-control" value="@Model.Track.Level">
            </div>

            <div class="form-group">
                <h5 class="panel-title"><i class="icon-users"></i><label for="Speakers"> Speakers</label></h5>
                @Html.ListBoxFor(m => m.SelectedSpeakers, @DotNetLiguria.Web.Helpers.SpeakersHelper.GetSpeakers, new { @id="Speakers", @name="Speakers", @class = "form-control", @style = "width:100%;" })
            </div>

            <div class="form-group">
                <label for="Abstract">Abstract</label>
                @*<textarea type="text" id="Abstract" name="Abstract" class="form-control" rows="3" value="@Model.Abstract"></textarea>*@
                @Html.TextAreaFor(model => model.Track.Abstract, 5, 1, new { @class = "form-control" })
            </div>


            <br />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>

        </form>
    </div>
</div>
<br />
<br />
<button class="btn btn-warning" onclick="javascript:window.location=('@Url.Action("EditWorkshop", "Dashboard", new { @Model.Track.WorkshopId})')"> Cancel</button>

<!-- End Input Groups -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#Speakers").select2(
            {
                placeholder: "Select speakers",
                maximumSelectionSize: 10,
                width: 400
            })
    });
</script>

