@model IEnumerable<DotNetLiguria.Models.News>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!--=== Content ===-->

<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-rss fa-fw"></i> News
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#" data-toggle="modal" data-target="#myModal">Add News</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
            <!--Striped Rows-->
            <div class="col-md-12">
                <div class="panel panel-sea margin-bottom-40">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Url</th>
                                <th>Tags</th>
                                <th>Enable</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var news in Model)
                            {
                            <tr>
                                <td><img src="@news.Image" height="50" width="50" /></td>
                                <td>@news.Title</td>
                                <td>@news.Url</td>
                                <td>@news.Tags</td>
                                <td>
                                    @if (@news.Enable)
                                        {
                                        <button class="btn btn-warning btn-xs" onclick="javascript:window.location=('@Url.Action("EnableNews", "Dashboard", new { news.NewsId })')">
                                            <i class="fa fa-trash-o"></i> Disable
                                        </button>
                                        }
                                        else
                                        {
                                        <button class="btn btn-success btn-xs" onclick="javascript:window.location=('@Url.Action("EnableNews", "Dashboard", new { news.NewsId })')">
                                            <i class="fa fa-trash-o"></i> Enable
                                        </button>
                                        }
                                </td>
                                <td>
                                    <button class="btn btn-danger btn-xs" onclick="javascript:window.location=('@Url.Action("DeleteNews", "Dashboard", new { news.NewsId })')">
                                        <i class="fa fa-trash-o"></i> Delete
                                    </button>
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <!--End Striped Rows-->
        </div>
        <!--End Striped and Hover Rows-->
    </div>
    <!-- /.panel-body -->
</div>

<!--=== END Content ===-->


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel1" class="modal-title">Add News</h4>
            </div>

            <div class="modal-body">
                <form method="post" action="/Dashboard/AddNews" class="sky-form">

                    <div class="form-group">
                        <label for="Title"> Title</label>
                        <input type="text" id="Title" name="Title" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="Url"> Url</label>
                        <input type="text" id="Url" name="Url" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="Image"> Image</label>
                        <input type="text" id="Image" name="Image" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="Tags"> Tags</label>
                        <input type="text" id="Tags" name="Tags" class="form-control">
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-success" />
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-u btn-u-default" type="button">Close</button>
            </div>

        </div>

    </div>
</div>

