@model List<DotNetLiguria.Models.CustomUser>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Users</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Surname</th>
            <th>RegistrationDate</th>
            <th>LastLoginDate</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Email</td>
                <td>@p.Name</td>
                <td>@p.Surname</td>
                <td>@p.RegistrationDate</td>
                <td>@p.LastLoginDate</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>



