@model DotNetLiguria.Models.Workshop

@{
    ViewBag.Title = "WorkshopTracks";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Workshop  Tracks</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!--Striped and Hover Rows-->
<div class="row">
    <!--Striped Rows-->
    <div class="col-md-12">
        <div class="panel panel-sea margin-bottom-40">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-edit"></i>Tracks</h3>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Feedback Count</th>
                        <th>Feedback Media</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var track in Model.Tracks)
                    {
                        var speaker = "";

                        if (track.Speakers != null && track.Speakers.Count > 0)
                        {
                            foreach (var item in track.Speakers)
                            {
                                speaker += item.Name + ", ";
                            }
                            speaker = speaker.Remove(speaker.Length - 2);
                        }

                        <tr>
                            <td>@track.Title</td>
                            <td>@speaker</td>
                            <td>@GetFeedback(@track.WorkshopTrackId)</td>
                            <td>@GetFeedbackMedia(@track.WorkshopTrackId)</td>
                            <td><button class="btn btn-danger btn-xs" onclick="javascript:window.location=('@Url.Action("DeleteTrack", "Dashboard", new { @Model.WorkshopId, track.WorkshopTrackId})')"><i class="fa fa-trash-o"></i> Delete</button></td>
                            <td><button class="btn btn-warning btn-xs" onclick="javascript:window.location=('@Url.Action("EditTrack", "Dashboard", new { @Model.WorkshopId, track.WorkshopTrackId})')"><i class="fa fa-pencil"></i> Edit</button></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <!--End Striped Rows-->
</div>
<!--End Striped and Hover Rows-->

@functions{
    public int GetFeedback(Guid trackId)
    {
        var feedback = Model.Workshopsubscribed.Where(x => x.Feedback != null).Select(x => x.Feedback).ToList();

        int count = 0;

        foreach (var item in feedback)
        {
            count += item.TracksFeedback.Where(x => x.WorkshopTrackId.Equals(trackId)).ToList().Count;
        }

        return count;
    }

    public float GetFeedbackMedia(Guid trackId)
    {
        var feedback = Model.Workshopsubscribed.Where(x => x.Feedback != null).Select(x => x.Feedback).ToList();

        int count = 0;
        float media = 0;

        foreach (var item in feedback)
        {
            var trackFeedback = item.TracksFeedback.Where(x => x.WorkshopTrackId.Equals(trackId)).FirstOrDefault();
            if (trackFeedback != null)
            {
                media += trackFeedback.Vote;
                count++;
            }
        }

        return media/count;
    }
    }

<button class="btn btn-u" data-toggle="modal" data-target="#addTrackModal">Add Track</button>

<div class="modal fade" id="addTrackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel1" class="modal-title">Add Track</h4>
            </div>

            <div class="modal-body">
                @Html.Partial("AddTrack", new DotNetLiguria.Models.WorkshopTrack())
            </div>

            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-u btn-u-default" type="button">Close</button>
            </div>

        </div>
    </div>
</div>

