@model DotNetLiguria.Models.Workshop

@{
    ViewBag.Title = "WorkshopFiles";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



    <!--Striped and Hover Rows-->
    <div class="row">
        <!--Striped Rows-->
        <div class="col-md-12">
            <div class="panel panel-sea margin-bottom-40">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-upload"></i>WorkshopFiles</h3>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>File Name</th>
                            <th>File Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var file in Model.WorkshopFiles)
                        {
                            <tr>
                                @if (file.FileType == DotNetLiguria.Models.WorkshopFileType.Image)
                                {
                                    <td><i class="fa fa-file-image-o"></i></td>
                                }
                                else if (file.FileType == DotNetLiguria.Models.WorkshopFileType.Material)
                                {
                                    <td><i class="fa fa-book"></i></td>
                                }
                                else if (file.FileType == DotNetLiguria.Models.WorkshopFileType.Photo)
                                {
                                    <td><i class="fa fa-photo"></i></td>
                                }
                                else if (file.FileType == DotNetLiguria.Models.WorkshopFileType.Poster)
                                {
                                    <td><i class="fa fa-file-pdf-o"></i></td>
                                }
                                else if (file.FileType == DotNetLiguria.Models.WorkshopFileType.Video)
                                {
                                    <td><i class="fa fa-video-camera"></i></td>
                                }
                                else
                                {
                                    <td><i class="fa fa-eraser"></i></td>
                                }
                                <td>@file.Title</td>
                                <td>@file.FileName</td>
                                <td>@file.FileType.ToString()</td>
                                <td><a href="@file.FullPath" target="_blank"><i class="fa fa-download"></i> Download</a></td>
                                <td><button class="btn btn-danger btn-xs" onclick="javascript:window.location=('@Url.Action("DeleteWorkshopFiles", "Dashboard", new { @Model.WorkshopId, file.WorkshopFileId})')"><i class="fa fa-trash-o"></i> Delete</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!--End Striped Rows-->
    </div>
    <!--End Striped and Hover Rows-->

    <button class="btn btn-u" data-toggle="modal" data-target="#addTrackModal">Add File</button>

    <div class="modal fade" id="addTrackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="myModalLabel1" class="modal-title">Add File</h4>
                </div>

                <div class="modal-body">
                    @Html.Partial("_WorkshopUpload")
                </div>

                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-u btn-u-default" type="button">Close</button>
                </div>

            </div>

        </div>
    </div>


