@model IEnumerable<DotNetLiguria.Models.NewsFeed>

<!-- Recent Works -->
<div class="headline"><h2>Last News</h2></div>
<div class="row margin-bottom-20">
    @foreach (var feed in Model)
    {
        <div class="col-md-4 col-sm-6">
            <div class="thumbnails thumbnail-style thumbnail-kenburn">
                <div class="thumbnail-img">
                    <div class="overflow-hidden">
                        @if (string.IsNullOrEmpty(feed.ImageUrl))
                        {
                            <img class="img-responsive" src="~/Content/Unify/img/portfolio/19.jpg" alt="" style="height:200px">
                        }
                        else
                        {
                            <img class="img-responsive" src="@feed.ImageUrl" alt="" style="height:200px">
                        }
                    </div>
                    <a class="btn btn-more hover-effect" href="@Url.Action("Index", "News")">read more +</a>
                </div>
                <div class="caption">
                    <h3><a class="hover-effect" href="@Url.Action("Index", "News")">@feed.Title</a></h3>

                    @if ((feed.Title.Length + feed.Summary.Length) > 200)
                    {
                        <p>
                            @feed.Summary.Substring(0, 200 - feed.Title.Length)...
                        </p>
                    }
                    else
                    {
                        <p>
                            @feed.Summary
                        </p>
                    }

                </div>
            </div>
        </div>
    }
</div>
<!-- End Recent Works -->
