@model DotNetLiguria.ViewModels.WorkshopViewModels


<div class="text-center margin-bottom-50">
    <h2 class="title-v2 title-center">Foto dell'evento</h2>
    <p class="space-lg-hor">Le foto dell'evento <span class="color-green">@Model.Workshop.Title</span>, presso <span class="color-green">@Model.Workshop.Location.Name</span>, il @Model.Workshop.EventDate.ToString("dd MMMM yyyy")</p>
</div>

@for (int counter = 0; counter < Model.Photos.Count; counter++)
{
    <div class="row  margin-bottom-30">

        <div class="col-sm-4 sm-margin-bottom-30">
            <a href="@Model.Photos[counter].FullPath" rel="gallery1" class="fancybox img-hover-v1" title="@Model.Photos[counter].Title">
                <span><img class="img-responsive" src="@Model.Photos[counter].FullPath" alt=""></span>
            </a>
        </div>

        @{
                counter = counter + 1;
        }

        @if (counter < Model.Photos.Count)
                    {
            <div class="col-sm-4 sm-margin-bottom-30">
                <a href="@Model.Photos[counter].FullPath" rel="gallery1" class="fancybox img-hover-v1" title="@Model.Photos[counter].Title">
                    <span><img class="img-responsive" src="@Model.Photos[counter].FullPath" alt=""></span>
                </a>
            </div>
                    }

        @{
                counter = counter + 1;
        }

        @if (counter < Model.Photos.Count)
                    {
            <div class="col-sm-4 sm-margin-bottom-30">
                <a href="@Model.Photos[counter].FullPath" rel="gallery1" class="fancybox img-hover-v1" title="@Model.Photos[counter].Title">
                    <span><img class="img-responsive" src="@Model.Photos[counter].FullPath" alt=""></span>
                </a>
            </div>
                    }

    </div>
            }

