@model System.Collections.Generic.IList<DotNetLiguria.Models.Workshop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- CSS Page Style -->
<link rel="stylesheet" href="~/Content/Unify/css/pages/shortcode_timeline2.css">

<!--=== Content Part ===-->
<div class="container content">

    <!-- Begin Content -->
    <div class="col-md-9">
        <ul class="timeline-v2">
            @foreach (var workshop in Model.OrderByDescending(x => x.EventDate))
            {
                <li>
                    <time class="cbp_tmtime" datetime=""><span>@workshop.EventDate.ToShortDateString()</span> <span>@workshop.EventDate.ToString("MMMM")</span></time>
                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                    <div class="cbp_tmlabel">
                        <h2><a href="@Url.Action("Detail", "Workshops" , new { @workshop.WorkshopId })">@workshop.Title</a></h2>
                        <div class="row">
                            <div class="col-md-4">
                                <img class="img-responsive" src="@workshop.Image" alt="">
                                <div class="md-margin-bottom-20"></div>
                            </div>
                            <div class="col-md-8">
                                <p>@workshop.Description</p>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <!-- End Content -->

    <div class="col-md-3">
        <div class="who margin-bottom-30">
            <div class="headline"><h2>Filtra per Anno</h2></div>
            <p>@*At vero eos et accusamus et iusto odio dign issimos ducimus qui blanditiis iusto.*@</p>
            <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
                @foreach (var year in ViewBag.Years)
                {
                    <li class="list-group-item">
                        <h2><a href="@Url.Action("Filter", new { year = @year })" class="btn btn-block"><i class="fa fa-calendar"></i>@year</a></h2>
                    </li>
                }
            </ul>
        </div>
    </div>

</div>
