@model DotNetLiguria.ViewModels.HomeViewModels
@*Le immagini devono essere 1170x500*@
<div id="layerslider" style="width:100%; height:500px; margin: 0px auto;">
    @foreach (var item in Model.Sliders.Where(x => x.Enable).ToList())
    {
        <div class="ls-slide" data-ls="slidedelay:@item.SlideDelay;@item.SlideTransitionType.ToString():all">
            <img src="@item.Image" class="ls-bg" alt="Slide background" />

            @foreach (var obj in item.SliderOjects)
            {
                if (obj.GetType().BaseType == typeof(DotNetLiguria.Models.ImageSliderObj))
                {
                    var image = (DotNetLiguria.Models.ImageSliderObj)obj;

                    var lnk = string.IsNullOrEmpty(@image.Link) ? "#" : @image.Link;

                    <a href="@lnk" class="ls-l" style="top: @obj.Top; left: @obj.Left;"
                       data-ls="@obj.LayerTransitions">
                        <img src="@image.Image" style="width: @image.Width; height: @image.Height;" alt="Image layer">
                    </a>
                }
                else if (obj.GetType().BaseType == typeof(DotNetLiguria.Models.VideoSliderObj))
                {
                    var video = (DotNetLiguria.Models.VideoSliderObj)obj;
                    switch (video.SlideVideoType)
                    {
                        case DotNetLiguria.Models.Enums.VideoType.youtube:
                            <div class="ls-l" style="top: @obj.Top; left: @obj.Left;"
                                 data-ls="@obj.LayerTransitions">
                                <iframe width="@video.Width" height="@video.Height" src="//www.youtube.com/embed/@video.Source" frameborder="0" allowfullscreen></iframe>
                            </div>
                            break;
                        case DotNetLiguria.Models.Enums.VideoType.vimeo:
                            <div class="ls-l" style="top: @obj.Top; left: @obj.Left;"
                                 data-ls="@obj.LayerTransitions">
                                <iframe src="https://player.vimeo.com/video/@video.Source?autoplay=0" width="@video.Width" height="@video.Height" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                            break;
                        case DotNetLiguria.Models.Enums.VideoType.html5:
                            <div class="ls-l" style="top: @obj.Top; left: @obj.Left;"
                                 data-ls="@obj.LayerTransitions">
                                <video src="@video.Source" controls></video>
                            </div>
                            break;
                    }
                }
                else if (obj.GetType().BaseType == typeof(DotNetLiguria.Models.CustomHtmlSliderObj))
                {
                    var customHtml = (DotNetLiguria.Models.CustomHtmlSliderObj)obj;
                    <div class="ls-l" style="top: @obj.Top; left: @obj.Left;"
                         data-ls="@obj.LayerTransitions">
                        @Html.Raw(customHtml.InnerHtml)
                    </div>
                }
            }

        </div>
    }
</div>
