@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <!-- Clients Block-->
        <div class="row">
            @*<div class="col-2">
                @{ Html.RenderAction("DisplayProfileImage", "Manage"); }
            </div>*@
            <div class="col-4">
                <h3>@User.Identity.GetUserName()</h3>
                <ul class="list-inline">
                    <li><i class="fa fa-user"></i>@Html.ActionLink(" Manage", "Index", "Manage")</li>
                    <li><i class="fa fa-lock"></i><a href="javascript:document.getElementById('logoutForm').submit()"> Log off</a></li>
                </ul>
            </div>
        </div>
        <!-- End Clients Block-->
    }
}
else
{
    <div class="navbar-right">
        @*<div class="col-2">
            <img src="../../Content/Unify/img/user.jpg" alt="" height="40" class="rounded-x" />
        </div>*@
        <div class="col-4">
            <ul class="list-inline share-list">
                <li><i class="fa fa-user"></i>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li><i class="fa fa-lock"></i>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        </div>
    </div>
}

