@model DotNetLiguria.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<!-- CSS Page Style -->
<link rel="stylesheet" href="~/Content/Unify/css/pages/profile.css">

<!--=== Profile ===-->
<div class="container content profile">
    <div class="row">
        <!--Left Sidebar-->
        <div class="col-md-3 md-margin-bottom-40">
            <img class="img-responsive profile-img margin-bottom-20" src="" alt="">

            <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                <li class="list-group-item active">
                    <a href="@Url.Action("Index","Manage")"><i class="fa fa-bar-chart-o"></i> Overall</a>
                </li>
                <li class="list-group-item">
                    <a href="#"><i class="fa fa-user"></i> Change Password</a>
                </li>
                <li class="list-group-item">
                    <a href="@Url.Action("ManageLogins","Manage")"><i class="fa fa-group"></i> Manage Logins</a>
                </li>
            </ul>

            <hr>
        </div>
        <!--End Left Sidebar-->
        <!-- Profile Content -->
        <div class="col-md-9">
            <div class="profile-body">
                <h2>@ViewBag.Title.</h2>

                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Change Password Form</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Change password" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- End Profile Content -->
    </div>
</div><!--/container-->
